-- Tạo database Hotel (nếu chưa có)
IF DB_ID('Hotel') IS NULL
    CREATE DATABASE Hotel;
GO

USE Hotel;
GO

-- USERS
CREATE TABLE USERS (
    user_id INT PRIMARY KEY,
    name NVARCHAR(100),
    email NVARCHAR(100),
    phone NVARCHAR(20),
    password NVARCHAR(100)
);

-- HOTELS
CREATE TABLE HOTELS (
    hotel_id INT PRIMARY KEY,
    name NVARCHAR(100),
    address NVARCHAR(200),
    phone NVARCHAR(20),
    email NVARCHAR(100),
    description NVARCHAR(300)
);

-- ROOMS
CREATE TABLE ROOMS (
    room_id INT PRIMARY KEY,
    room_number NVARCHAR(10),
    room_type NVARCHAR(50),
    price_per_night FLOAT,
    max_occupancy INT,
    description NVARCHAR(300),
    status NVARCHAR(50),
    hotel_id INT FOREIGN KEY REFERENCES HOTELS(hotel_id)
);

-- BOOKINGS
CREATE TABLE BOOKINGS (
    booking_id INT PRIMARY KEY,
    user_id INT FOREIGN KEY REFERENCES USERS(user_id),
    room_id INT FOREIGN KEY REFERENCES ROOMS(room_id),
    check_in DATE,
    check_out DATE,
    total FLOAT
);

-- PAYMENTS
CREATE TABLE PAYMENTS (
    payment_id INT PRIMARY KEY,
    booking_id INT FOREIGN KEY REFERENCES BOOKINGS(booking_id),
    payment_method NVARCHAR(50),
    payment_date DATE,
    amount FLOAT
);

-- REVIEWS
CREATE TABLE REVIEWS (
    review_id INT PRIMARY KEY,
    user_id INT FOREIGN KEY REFERENCES USERS(user_id),
    room_id INT FOREIGN KEY REFERENCES ROOMS(room_id),
    rating INT,
    comment NVARCHAR(500),
    created_at DATETIME
);

-- PICTURES (ảnh khách sạn)
CREATE TABLE PICTURES (
    Hpicture_id INT PRIMARY KEY,
    hotel_id INT FOREIGN KEY REFERENCES HOTELS(hotel_id),
    image_url NVARCHAR(200),
    description NVARCHAR(300)
);

-- Room_pictures (ảnh phòng)
CREATE TABLE Room_pictures (
    picture_id INT,
    room_id INT,
    picture_url NVARCHAR(200),
    number INT,
    PRIMARY KEY (picture_id, room_id),
    FOREIGN KEY (room_id) REFERENCES ROOMS(room_id)
);


-- USERS
INSERT INTO USERS VALUES 
(1, N'Nguyễn Thành Công', N'cong@gmail.com', N'0901234567', N'passC'),
(2, N'Minh Lee', N'minh@gmail.com', N'0902345678', N'passM');

-- HOTELS

-- ROOMS
INSERT INTO ROOMS VALUES
(1, N'101', N'Standard', 50, 2, N'Phòng thường, sạch sẽ', N'Occupied', 1),
(2, N'102', N'Deluxe', 80, 3, N'Phòng rộng, có ban công', N'Occupied', 2),
(11, N'201', N'Luxury', 100, 4, N'Sang trọng, thượng lưu', N'Available', 1);

-- BOOKINGS
INSERT INTO BOOKINGS VALUES
(1, 1, 1, '2025-06-01', '2025-06-03', 100),
(2, 2, 2, '2025-06-02', '2025-06-04', 160),
(3, 1, 1, '2025-06-04', '2025-06-05', 50);

-- PAYMENTS
INSERT INTO PAYMENTS VALUES
(1, 1, N'Credit Card', '2025-05-31', 100),
(2, 2, N'Momo', '2025-06-01', 160);

-- REVIEWS
INSERT INTO REVIEWS VALUES
(1, 1, 1, 5, N'Phòng sạch, giá hợp lý', '2025-06-04 10:00:00'),
(2, 2, 2, 4, N'Hơi ồn nhưng vẫn ổn', '2025-06-05 11:00:00');

-- PICTURES
INSERT INTO PICTURES VALUES
(1, 1, N'https://images.unsplash.com/photo-1600585154340-be6161a56a0c?auto=format&fit=crop&w=800&q=80', N'Toàn cảnh phòng 101'),
(2, 2, N'https://images.unsplash.com/photo-1600585154340-be6161a56a0c?auto=format&fit=crop&w=800&q=80', N'Toàn cảnh phòng 102');

-- Room_pictures
INSERT INTO Room_pictures VALUES
(1, 1, N'https://images.unsplash.com/photo-1600585154340-be6161a56a0c?auto=format&fit=crop&w=800&q=80', 1),
(2, 1, N'https://images.unsplash.com/photo-1600585154340-be6161a56a0c?auto=format&fit=crop&w=800&q=80', 2),
(3, 2, N'https://images.unsplash.com/photo-1600585154340-be6161a56a0c?auto=format&fit=crop&w=800&q=80', 1);
