<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Khách Sạn{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
    <nav>
    <div><a href="{% url 'home' %}" style="font-weight: 700; font-size: 1.2rem;">🏨 HotelBooking</a></div>
    <div>
        {% if request.session.user_id %}
            <a href="{% url 'profile' %}">Thông tin</a>
            <a href="{% url 'my_bookings' %}">Đơn đặt</a>
            <a href="{% url 'logout' %}">Đăng xuất</a>
        {% else %}
            <a href="{% url 'login' %}">Đăng nhập</a>
            <a href="{% url 'register' %}">Đăng ký</a>
        {% endif %}
    </div>
    </nav>

    <!--Thông báo nếu có(Đặt phòng thành công/thất bại)-->
    {% if messages %}
      <ul class="messages">
        {% for message in messages %}
          <li class="alert">{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}


    <div class="content">
        {% block content %}{% endblock %}
    </div>


</body>
</html>
