{% extends 'base.html' %}
{% load static %}
{% block title %}Danh sách khách sạn{% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">

<h2>Tìm kiếm khách sạn</h2>
<form method="get" class="search-form">
    {{ form.as_p }}
    <button type="submit" class="btn-payment">Tìm kiếm</button>
</form>
<br>
<hr>
{% for hotel in hotels %}
        <div class="hotel-info">

            <h3><a href="{% url 'hotel_detail' hotel.hotel_id %}">{{ hotel.name }}</a></h3>
            <p><strong>📍 Địa chỉ:</strong> {{ hotel.address }}</p>
            <p><strong>📞 Điện thoại:</strong> {{ hotel.phone }}</p>
            <p><strong>📧 Email:</strong> {{ hotel.email }}</p>
            <p><strong>ℹ️ Mô tả:</strong> {{ hotel.description }}</p>
        </div>
{% empty %}
    <p>Không tìm thấy khách sạn phù hợp.</p>
{% endfor %}
<!--Phân trang-->
<div class="pagination">
  {% if hotels.has_previous %}
    <a href="?page={{ hotels.previous_page_number }}">← Trước</a>
  {% endif %}
  <span>Trang {{ hotels.number }} / {{ hotels.paginator.num_pages }}</span>
  {% if hotels.has_next %}
    <a href="?page={{ hotels.next_page_number }}">Tiếp →</a>
  {% endif %}
</div>

{% endblock %}
