{% extends 'base.html' %}
{% load static %}
{% block title %}Đăng nhập{% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
<div class="login-form">
    <h2>Đăng nhập</h2>
    <form method="post">
        {% csrf_token %}
        <label>Email:</label>
        <input type="text" name="email" required>

        <label>Mật khẩu:</label>
        <input type="password" name="password" required>
    <br>
        <button type="submit" class="btn-login">Đăng nhập</button>
    </form>

    {% if error %}
    <p class="error">{{ error }}</p>
    {% endif %}
</div>
{% endblock %}
