{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/my_booking.css' %}">

<h2>My Bookings</h2>
{% if bookings %}
<table class="table">
    <tr>
        <th>Hotel</th>
        <th>Room</th>
        <th>Check-in</th>
        <th>Check-out</th>
        <th>Total</th>
    </tr>
    {% for booking in bookings %}
    <tr>
        <td>{{ booking.room.hotel.name }}</td>
        <td>{{ booking.room.room_number }} - {{ booking.room.room_type }} </td>
        <td>{{ booking.check_in }}</td>
        <td>{{ booking.check_out }}</td>
        <td>${{ booking.total }}</td>
    </tr>
    {% endfor %}
</table>
<!-- Nút Thanh toán dẫn đến booking đầu tiên -->
<form method="get" action="{% url 'make_payment' bookings.0.booking_id %}">
    <button type="submit" class="btn-payment">Thanh toán</button>
</form>

{% else %}
<p>You have no bookings.</p>
{% endif %}
{% endblock %}
